body{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
input{
    width: 100%;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-bottom: 4px;
}
button{
    padding: 10px 10px;
    color: white;
    background: rgb(73, 107, 5);
    font-weight: bold;
}
ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}
li{
    margin-top: 5px;
}
a{
    color: #5f9341;
}